.BlogItem {
  padding-top: 87px;
  .row {
    --bs-gutter-x: 35px !important;
  }
  .leftWrapp {
    .item {
      margin-bottom: 87px;
      .blogImg {
        margin-bottom: 12px;
        img {
          border-radius: 6.943px;
        }
      }
      ul {
        margin-bottom: 16px;
        gap: 13px;
        li {
          padding-left: 13px;
          border-left: 1px solid #989898;
          gap: 6.5px;
          &:first-child {
            padding-left: 0;
            border-left: 0;
          }
          &:last-child {
            padding-right: 0;
          }

          img {
            width: 16.5px;
            align-self: center;
          }
          span {
            color: #9c9c9c;
            font-family: Proxima Nova;
            font-size: 13.886px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            align-self: center;
          }
        }
      }
      .itemText {
        width: 395px;
        max-width: 100%;

        h4 {
          color: #21232f;
          font-family: Proxima Nova;
          font-size: 20.829px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin-bottom: 10px;
        }
        p {
          color: #343434;
          font-family: Proxima Nova;
          font-size: 19.093px;
          font-style: normal;
          font-weight: 400;
          line-height: 30.375px; /* 159.091% */
          margin-bottom: 18px;
        }
        a {
          color: #21232f;
          font-family: Proxima Nova;
          font-size: 15.622px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          text-decoration-line: underline;
        }
      }
    }
  }
  .itemRight {
    border-radius: 6.943px;
    background: #f8f9f9;
    padding: 26px 20px;
    h4 {
      color: #21232f;
      font-family: Proxima Nova;
      font-size: 19.093px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 15px;
    }
    form {
      margin-bottom: 3px;
      input {
        border-radius: 1.736px;
        background: #fff;
        padding: 9.2px 12px;
        color: #545353;
        font-family: Proxima Nova;
        font-size: 15.622px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
        width: 100%;
        border: 0;
        height: 100%;
      }
      button {
        color: #21232f;
        font-family: Proxima Nova;
        font-size: 13.886px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        border-radius: 1.736px;
        border: 0.868px solid #7e7e7e;
        padding: 10px 28px;
      }
    }
    .recentItem {
      a {
        padding: 15px 0;
        border-bottom: 1px solid #dedede;
        gap: 15px;
        text-decoration: none;
        img {
          border-radius: 3.471px;
          width: 55.543px;
          height: 55.543px;
          object-fit: cover;
          object-position: center;
          align-self: center;
        }
        span {
          align-self: center;
          color: #21232f;
          font-family: Proxima Nova;
          font-size: 15.622px;
          font-style: normal;
          font-weight: 600;
          line-height: 17.357px; /* 111.111% */
          display: inline-block;
        }
      }
    }
  }
  .Categories {
    margin-top: 18px;
    padding-bottom: 29px;
    border-bottom: 1px solid #dedede;
    h4 {
      color: #21232f;
      font-family: Proxima Nova;
      font-size: 19.093px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 12px;
    }
    .accordion-button::after {
      position: absolute;
      left: 0;
      top: 8px;
      --bs-accordion-btn-active-icon: url('../img/-.svg');
      --bs-accordion-btn-icon: url('../img/+.svg');
    }
    .accordion-item {
      border: 0;
      box-shadow: none;
      background-color: transparent;
      .accordion-header {
        .accordion-button {
          padding-left: 30px;
          padding-top: 9px;
          padding-bottom: 9px;
          paint-order: 9px;
          color: #21232f;
          font-family: Proxima Nova;
          font-size: 15.622px;
          font-style: normal;
          font-weight: 600;
          line-height: 17.357px; /* 111.111% */
          background-color: transparent;
          box-shadow: none;
        }
      }
    }
    .accordion-collapse {
      .accordion-body {
        padding-top: 0;
        ul {
          li {
            margin-bottom: 10px;
            padding-left: 0;
            &::after {
              display: none;
            }
            a {
              color: #21232f;
              font-family: Proxima Nova;
              font-size: 15.622px;
              font-style: normal;
              font-weight: 600;
              line-height: 17.357px; /* 111.111% */
              background-color: transparent;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  .SocialMedia {
    padding-top: 17px;
    ul {
      li {
        padding-left: 0;
        &::after {
          display: none;
        }
      }
    }
  }
}
